body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    
    
    
  }
.left h2 {
    display: inline-block;
    font-size: 30px;
    color: black;
}
.right ul li {
    display: inline-block;
    font-size: 15px;
    
}
.right ul li{
    margin: 30px 20px;
}
i{
    color: white;
}
.resume{
    padding: 20px 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
}
.right-li{
    color: black;
}
.font-span {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .content{
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    transition: ease-in 2s;
    
  }
  .image img{
    margin-top: -10px;
    position: relative;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
    max-width: 450px;
    
  }
  .image img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .content p{
    font-size: 16px;
    text-align: justify;
    margin-top: 30px;
  }

  @media (max-width:640px){
     .image img{
    background-position: center;
    justify-content: center;
    text-align: center;
    display: flex;
    max-width: 100%;
    height: auto;
    
  }
  .content{
    margin-top: 0;
  }
  }