body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    
    
    
  }
.left h2 {
    display: inline-block;
    font-size: 30px;
    color: black;
}
.right ul li {
    display: inline-block;
    font-size: 15px;
    
}
.right ul li{
    margin: 30px 20px;
}
i{
    color: white;
}
.resume{
    padding: 20px 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
}
.right-li{
    color: black;
}
.font-span {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .content{
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    transition: ease-in 2s;
    
  }
  .image img{
    margin-top: -10px;
    position: relative;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
    max-width: 450px;
    border-radius: 30px;
    
  }
  .skills img{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 120px;
    padding-top: 50px;
    border: 2px solid ;
    padding: 20px 20px;
  }
 
  .content p{
    font-size: 16px;
    text-align: justify;
    margin-top: 30px;
  }
  .skills h1{
    text-align: center;
    margin-bottom: 50px;
    
  }
  .home-icons{
    margin-top: 20px;
  }
  .home-icons img{
    border: 1px solid black;
    padding: 20px 20px;
    width: 70px;
    border-radius: 50%;

  }
  .experience{
    color: white;
    
  }
  .exp-class{
    background-color: black;
  }
  .box-1{
    border: 1px solid white;
    border-radius: 20px;
    text-align: justify;
    transition: transform 0.5s ease;
  }
  .box-1 h4,p{
    margin-left: 20px;
  }
  .box-2{
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 20px;
    text-align: justify;
    transition: transform 0.5s ease;
  }
  .box-2 h4,p{
    margin-left: 10px;
  }
  .duration{
    margin-left: 10px;
    border: 1px solid white;
    padding: 6px 6px;
    border-radius: 5px;
  }
  .box-2 p{
    margin-top: 20px;
  }
  .box-1 p{
    margin-top: 20px;
  }
  .box-2:hover{
    transform: rotateX(90deg);
  }
  .box-1:hover{
    transform: rotateX(90deg);
  }
  @media (max-width:640px){
     .image img{
    background-position: center;
    justify-content: center;
    text-align: center;
    display: flex;
    max-width: 100%;
    height: auto;
    
  }
  
  .content{
    margin-top: 0;
  }
  .box-1,.box-1 h4,p{
    margin: 5px ;
  }
  .box-1 h4{
     font-size: 16px;
     margin-bottom: 20px;
  }
  .box-2 h4{
    font-size: 16px;
    margin-bottom: 20px;
  }
  .duration{
    margin: 5px;
  
  }
  .content h1{
    font-size: 30px;
  }
 
  }