body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    
    
    
  }
.left h2 {
    display: inline-block;
    font-size: 30px;
    color: black;
}
.right ul li {
    display: inline-block;
    font-size: 15px;
    
}
.right ul li{
    margin: 30px 20px;
}
i{
    color: white;
}
.resume{
    padding: 20px 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
}
.right-li{
    color: black;
}
.font-span {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .content{
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    transition: ease-in 2s;
    
  }
  .image img{
    margin-top: 30px;
    max-width: 450px;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0;
  }

  @media (max-width:640px){
     .image img{
    max-width: 290px;
    justify-content: center;
    text-align: center;
    display: flex;
    
  }
  .content{
    margin-top: 0;
  }
  }